/NHL-Project/Recipes/* linguist-documentation=false
/NHL-Project/Dashboards/* linguist-documentation=false
/NHL-Project/Datasets/* linguist-documentation=false
/Opportunity Teams Analytics/Recipes/* linguist-documentation=false
/Opportunity Teams Analytics/Dashboards/* linguist-documentation=false
/Sales-Analytics-Recipe-Standardization/Recipes/* linguist-documentation=false
/Sales-Analytics-Recipe-Standardization/Dashboards/* linguist-documentation=false
