/NHL-Project/* linguist-documentation=false
/Opportunity Teams Analytics/* linguist-documentation=false
Sales-Analytics-Recipe-Standardization/Recipes/Standardized Recipe.json linguist-documentation=false
